.button{
  padding: 1rem;
  background: var(--red-900);
  border: none;
  border-radius: 0.3rem;

  &[disabled]{
    cursor: not-allowed;
    svg{
      animation: animate 2s infinite;
    }
  }

  &:hover{
    filter: brightness(1.08)
  }

}

.buttonText{
  color: var(--white);
}

@keyframes animate{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}