
.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--gray-900);

  form {
    display: flex;
    margin-top: 5rem;
    flex-direction: column;
    gap: 1.3rem
  }
}


.text{
  margin-top: 1rem;
  color: var(--white);
  cursor: pointer;

  span {
    color: var(--red-900);
  }
}


@media (max-width: 620px) {
  .login{
    width: 90%;
  }
}